{% extends "layout.html" %}

{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .carousel-inner > .item > img,
        .carousel-inner > .item > a > img {
            width: 70%;
            margin: auto;
        }
    </style>
</head>

<body>
    <div class="container">
        <br>
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15202508_10209938021905665_3502934364266904246_n.jpg?oh=9fd0ad7cab0971c17fb57f95a565bc0c&oe=58FB677C" alt="rommel" width="460" height="345">
                </div>

                <div class="item">
                    <img src="https://scontent.fakl2-1.fna.fbcdn.net/v/t1.0-9/15136000_10209938024705735_6237691533121005628_n.jpg?oh=7a11bc7fcd3d60844feab9a15f1fec2a&oe=59539ACE" alt="rommel" width="460" height="345">
                </div>

                <div class="item">
                    <img src="https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-9/15170900_10209938023145696_7521728360853129592_n.jpg?oh=dbf243223918593c2151b7fa3323d499&oe=58FB1725" alt="Flower" width="460" height="345">
                </div>

                <div class="item">
                    <img src="https://scontent.fakl2-1.fna.fbcdn.net/v/t1.0-9/15219433_10209938056906540_4435198730358433443_n.jpg?oh=577d50885b195f624470bdba81a79307&oe=5955D9B1" alt="Flower" width="460" height="345">
                </div>
            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Serving God</h2>
            <p>
                Serving is the overflow of His love for us.
            </p>
        </div>
        <div class="col-md-4">
            <h2>Singles Ministry</h2>
            <p>I love reaching out to the singles. Pray for them, listen to what they have to say such as things that they have gone through in their lives, and share to them how God loves them so much.</p>
        </div>
        <div class="col-md-4">
            <h2>Music Ministry</h2>
            <p>I'm currently serving in a music ministry at CCF New Zealand as I really love worshiping the King of kings.</p>
        </div>
        <div class="col-md-4">
            <h2><font size="3">Pictures</font></h2>
            <p>Pictures taken by Karmelo Sauz</p>
        </div>
    </div>

    {% endblock %}
</body>